section{
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

#cliqueAquiBtn {
  font-size: 35px;
  cursor: pointer;
  border-radius: 20px;
  
}
div{
    height: 700px;
    width: 700px;
    margin: 30px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
button {
  background-color: #15748b;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 100px;
  margin: 20px;
  transition: background-color 0.3s ease;
  margin-left: 230px;
  font-size: 50px;
  
}

button:hover {
  background-color: #000000;
}
h1{
  background-color: #15748b;
  color: #fff;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-size: 50px;
}
input{
  width: 700px;
  height: 70px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  margin-bottom: 30px;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 30px;
}
